﻿
/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

 @font-face
{
        font-family:Segoe UI Light;
        src:url('segoeuil.ttf');
}

body, button, input, select, textarea { font-family: Segoe UI Light; color: #222; }

p 
{
    padding:2px 5px;
}

/* =============================================================================
   Links
   ========================================================================== */

a { color: #000022; }
a:visited { color: #000033; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a 
{
    text-decoration:none;
}
a:hover, a:active { outline: 0; }

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* ==|== non-semantic helper classes ========================================
  
   ========================================================================== */

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== Basic Style =======================================================

    ======================================================================== */
   
/*#container 
{
    width:310px;
    margin:auto;   
}*/
hgroup 
{
    background-color:#ffffff;
    color:#555555;
}
 
h1 
{
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    margin:3px 0;
}
h2 
{
    font-size: 24px;
    text-align: right;
    text-decoration: none;
    margin:0;
} 
#social 
{
    width: 310px;
    margin:auto;  
}


#social ul 
{
    list-style: none;
    margin:auto;
    padding:0;
    width:auto;
}
#social ul li 
{
    float:left;
    display:inline;
    margin-right: 4px;
}
nav 
{
    margin: auto;
    margin-top: 10px;
    text-align:center;
}
nav ul li 
{
    width: 98%;
    text-align:center;
    border:solid 1px #333;
    text-decoration:none;
    font-size:250%;
    font-weight:bold;
    margin:auto;
    margin-bottom:3px;
    background:#dddddd;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align:middle;
}

#main 
{
    width:98%;
    margin:auto;
}

section 
{
    font-size:120%;
    background:#eeeeee;
    text-align:justify;
    margin-bottom:5px;
    border:solid 1px #333;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

section ul 
{
    list-style:none;
}
section ul li 
{
    margin-bottom:5px;
}

#home p 
{
    text-align:center;
    font-size:150%;
}

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
header 
{
    position:fixed;
    height:768px;
    width:40%;
    float:left;
    margin: 0;
    padding-right: 5px; 
    border-right:solid 2px #0000ee;
}

#social 
{
    width:65px;
    overflow:hidden;
    margin:0;
    padding:0;
    top: 150px;
    left:0;
    position:absolute;
}

nav 
{
    float:right;
    width:68%;
    margin-right:2px;
    margin-top: 18%;
    font-size:120%;
}
nav ul li 
{
    top:180px;
    padding: 3px;
}

#main 
{
    position:relative;
    width:59%;
    float:right;
}

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

header 
{
    width:39%;
    position:fixed;
    float:left;
    
}

#main 
{
    width:60%;
   
    float:right;
}

#social 
{
    position:relative;
    width:310px;
    margin:auto;
    top:auto;
}
nav 
{
    width:90%;
    margin:auto;
    float:none;
    margin-top:15px;
}
nav ul 

}

@media only screen and (min-width: 1080px) {
  /* Style adjustments for viewports 1080px and over go here */
#container 
{
    width:1080px;
    margin:auto;
}
header 
{
    width:29%;
}

#main 
{
    width:70%;
}
}